@import "tailwindcss";
@import "tw-animate-css";


@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
    --primary: #0D4DA5;
    --secondary: #000000;
}


@layer components{
  /* buttons  */
  .button-primary {
    @apply bg-primary text-white hover:bg-blue-700;
  }
  .button-secondary {
    @apply bg-secondary text-white hover:bg-gray-700;
  }
}

